<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" >
            <a class="nav-link active" routerLink="variable">variable</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  routerLink="stuructual-dir">stuructual</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="control-flow">control</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="attrivute-dir">attrivute</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="pipe">Pipes</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="get-api">get-api</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="user">user</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="vendor">Vandor</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="enrollment">enrollment</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="bulk">bulk</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="signal">signal</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="ng-directive">ng-directive</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="form-array">form-array</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" (input)="onSerachChnage($event)" placeholder="Search">
          <button class="btn btn-primary" (click)="onLogoff()" type="button">logOff</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>