<div class="row">
    <div class="col-3">
        <ul>
            @if (cityList.length == 0) {
            <ng-container>
                <p>No City Data Found or Its Loading</p>
            </ng-container>
            } @else {
            @for (item of cityList; track $index)
            {
            <li>{{item}}</li>
            }
            }
        </ul>
    </div>
    <div class="col-3">
        <select name="" id="" class="form-select">
            <ng-container *ngIf="cityList.length !=0">
                <option *ngFor="let city of cityList"> {{city}}</option>
            </ng-container>
        </select>
    </div>
    <div class="col-3">
        <span class="text-success" *ngIf="isActive == true;else deactiveTem">
            Student Is Actiove
        </span>
        <ng-template #deactiveTem>
            <span class="text-danger">
                Student Is De-Active
            </span>
        </ng-template> 
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div *ngFor="let city of cityList">
            <ng-container *ngTemplateOutlet="displayTem;context:{$implicit:city}"></ng-container>
        </div>
    </div>
    <div class="col-4">
        @for (state of stateList; track $index) {
            <ng-container *ngTemplateOutlet="displayTem;context:{$implicit:state}"> </ng-container>
        }
       
    </div>
</div>
<ng-template #displayTem let-value>
    <h1>
        <i class=""></i>
        <p> {{value}}</p>
    </h1> 
</ng-template>