<div class="row">
    <div class="col-3">
        <label for="">Select Student</label>
         <select class="form-select">
            <option value="">Select Student</option>
            @for (item of studentList; track $index) {
                <option [value]="item.studid">{{item.name}}</option>
            }
         </select>
    </div>
    <div class="col-3">
        <label for="">Select Batch</label>
        <select  class="form-select">
            <option value="">Select Batch</option>
            @for (item of batchList; track $index) {
                <option [value]="item.batchId">{{item.batchName}}</option>
            }
         </select>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <label for="">Total Fees</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-3">
        <label for="">Enrollment Date</label>
        <input type="date" class="form-control">
    </div>
    <div class="col-3">
        <label for="">Discount</label>
        <input type="text" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-6">
        <label for="">Naration</label>
        <textarea class="form-control"></textarea>
    </div>
    
</div>

<div class="row">
    <div class="col-3">
        <button class="btn btn-success">Save</button>
    </div>
</div>